<%=form_for(topics_path, :method=>:get) do%>
  Search by Category: <%= select_tag "name", options_from_collection_for_select(@categories, "id", "name",:selected=>params[:name]) %>
  <%= submit_tag 'Search', :class=>'search'%>
<%end%>

<h1>Listing topics</h1>

<div class='forum_list'>
  <% @topics.each do |t| %>
    <table class='forum_category_<%=t.first%> table table-hover'>
      <tr>
        <th>Topic</th>
        <th>Replies</th>
        <th>Creator</th>
        <th>Created at</th>
        <th>Updated at</th>
        <%if current_user.has_role? :author, @topic or current_user.has_role? :admin%>
          <th colspan=2>Operations</th>
        <%end%>  
      </tr>
      <caption><%=category_name(t.first.to_i)%></caption>
      <%t.last.each do |topic|%>
        <tr class='forum_<%= topic.id%>'>
          <td><%= link_to topic.name, topic_path(topic) %></td>
          <td><%= topic.comments.count %></td>
          <td><%= user_email(topic.user_id) %></td>
          <td><%= topic.created_at.strftime("%d/%m/%Y %H:%M %p") %></td>
          <td><%= topic.updated_at.strftime("%d/%m/%Y %H:%M %p")  %></td>
          <%if current_user.has_role? :author, @topic%>
            <td><%= link_to 'Edit', edit_topic_path(topic) %></td>
            <td><%= link_to 'Destroy', topic_path(topic), method: :delete, data: { confirm: 'Are you sure?' } %></td>
          <%end%>
        </tr>
      <%end%>
    </table>  
  <% end %>
</div>
<br />

<%= link_to 'New Topic', new_topic_path %>
