<h1>Listing topics</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Post</th>
    <th>Category</th>
    <th>User</th>
    <th></th>
    <th></th>
  </tr>

<% @topics.each do |topic| %>
  <tr>
    <td><%= link_to topic.name, category_topic_path(@category,topic) %></td>
    <td><%= topic.post %></td>
    <%if current_user.has_role? :author, @topic%>
      <td><%= link_to 'Edit', edit_category_topic_path(@category,topic) %></td>
      <td><%= link_to 'Destroy', category_topic_path(@category,topic), method: :delete, data: { confirm: 'Are you sure?' } %></td>
    <%end%>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Topic', new_category_topic_path(@category) %>
