<p id="notice"><%= notice %></p>

<p>
<table class='topic_<%=@topic.id%> table table-hover'>
  <tr>
    <th>Topic</th>
    <th>Replies</th>
    <th>Creator</th>
    <th>Created at</th>
    <th>Updated at</th>
    <%if current_user.has_role? :author, @topic or current_user.has_role? :admin%>
      <th colspan=2>Operations</th>
    <%end%>  
  </tr>

  <tr class='forum_<%= @topic.id%>'>
    <td><%= link_to @topic.name, topic_path(@topic) %></td>
    <td><%= @topic.comments.count %></td>
    <td><%= user_email(@topic.user_id) %></td>
    <td><%= @topic.created_at.strftime("%d/%m/%Y %H:%M %p") %></td>
    <td><%= @topic.updated_at.strftime("%d/%m/%Y %H:%M %p")  %></td>
    <%if current_user.has_role? :author, @topic%>
      <td><%= link_to 'Edit', edit_topic_path(@topic) %></td>
      <td><%= link_to 'Destroy', topic_path(@topic), method: :delete, data: { confirm: 'Are you sure?' } %></td>
    <%end%>
  </tr>
</table>
 
<!-- <p>
  <b>Category:</b>
  <%#= @topic.category_id %>
</p>

<p>
  <b>User:</b>
  <%#= @topic.user_id %>
</p> -->
<div class='comment_section'>
  <h4>Posts</h4>
  <table width=100%>
    <%= render partial: "comments/comment", collection: @comments %>
  </table>
</div>
<a href="javascript:void(0)" id='new_post' class='btn btn-success'>Post</a>
<div class='add_comment'>
  <%=form_for([@topic,@comment], :remote=>true,:html=>{:id=>'new_comment'}) do |f| %>
    <div class="field">
      <%= f.label :content %><br />
      <%= f.text_field :content, :required=>true %>
      <%= f.hidden_field :user_id, :value=>current_user.id%>
    </div>
    <div class="actions">
      <%= f.submit %>
    </div>
  <%end%>
  
</div>
<%= link_to 'Edit', edit_topic_path(@topic) %> |
<%= link_to 'Back', topics_path %>
