<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @topic.name %>
</p>

<p>
  <b>Post:</b>
  <%= @topic.post %>
</p>

<!-- <p>
  <b>Category:</b>
  <%#= @topic.category_id %>
</p>

<p>
  <b>User:</b>
  <%#= @topic.user_id %>
</p> -->
<div class='comment_section'>
  <%= render partial: "comments/comment", collection: @comments %>
</div>
<div class='add_comment'>
  <%=form_for([@topic,@comment], :remote=>true,:html=>{:id=>'new_comment'}) do |f| %>
    <div class="field">
      <%= f.label :content %><br />
      <%= f.text_field :content %>
      <%= f.hidden_field :user_id, :value=>current_user.id%>
    </div>
    <div class="actions">
      <%= f.submit %>
    </div>
  <%end%>
  
</div>
<%= link_to 'Edit', edit_category_topic_path(@category,@topic) %> |
<%= link_to 'Back', category_topics_path(@category) %>
