<div class="navbar navbar-static-top navbar-inverse">
  <div class="navbar-inner">
    <div class="container">
      <a class="brand" href="<%= root_url%>"><%="Forum" %></a>
      <ul class="nav">
        <%#binding.pry%>
        <%if current_user.present?%>
          <%if current_user.has_role? 'admin'%>
            <li><%= link_to 'Category', categories_path%></li>
          <%end%>
        <%end%>  
      </ul>
      <ul class="pull-right nav">
        <%if current_user%>
          <li>
            <%= link_to current_user.email, destroy_user_session_path, :method=>:delete %>
          </li>
        <% elsif request.path!= "/" %>
          <li>
            <%= link_to "Login", user_session_path %>
          </li>
        <%end%>  
      </ul>
    </div>
  </div>
</div>